{% extends "pages/base.html" %}
{% load static %}

{% block title %}Contact - Half-Chain{% endblock %}

{% block content %}
<header class="page-header" data-background="">
  <div class="container">
    <h2>Contact</h2>
  </div>
  <!-- end container -->
</header>

<main>
  <!--İletişim İcon Alanı-->
  <section class="iletisim-icon-alani">
    <div class="tablo">
      <div class="tablo--1-ve-3 wow fadeInLeft" data-wow-delay="0.5s">
        <div class="ozellik-kutu-iletisim" onclick="location.href='#';" style="cursor:pointer;" data-tilt>
          <div class="icon">
            <i class="flaticon-call"></i>
          </div>
          <h3 class="baslik-4 h-yazi-margin-kucuk-2">Customer service</h3>
          <p class="ozellik-kutu-iletisim--yazi">+995 599 98 99 100 </p>
        </div>
      </div>
      <div class="tablo--1-ve-3 wow fadeInLeft" data-wow-delay="0.5s">
        <div class="ozellik-kutu-iletisim" onclick="location.href='#';" style="cursor:pointer;" data-tilt>
          <div class="icon">
            <i class="flaticon-email"></i>
          </div>
          <h3 class="baslik-4 h-yazi-margin-kucuk-2">Mail Address</h3>
          <p class="ozellik-kutu-iletisim--yazi">info@half-chain.com </p>
        </div>
      </div>
      <div class="tablo--1-ve-3 wow fadeInRight" data-wow-delay="0.5s">
        <div class="ozellik-kutu-iletisim" onclick="location.href='#';" style="cursor:pointer;" data-tilt>
          <div class="icon">
            <i class="flaticon-location"></i>
          </div>
          <h3 class="baslik-4 h-yazi-margin-kucuk-2">Office</h3>
          <p class="ozellik-kutu-iletisim--yazi">Tbilisi, Georgia</p>
        </div>
      </div>
    </div>
  </section>

  <!--<form method="POST">
    {% csrf_token %}
    <input type="text" name="phone" placeholder="Phone Number" />
    <input type="submit" value="Send Form →" />
  </form>  -->

  <form method="post" class="wpcf7-form init" novalidate="novalidate"> 
    {% csrf_token %}
    <div style="display: none;">
      <input type="hidden" name="_wpcf7" value="1129" />
      <input type="hidden" name="_wpcf7_version" value="5.6" />
      <input type="hidden" name="_wpcf7_locale" value="en_US" />
      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1129-o1" />
      <input type="hidden" name="_wpcf7_container_post" value="0" />
      <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
    </div>
    
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <div class="form__grup wow fadeInLeft">
            <span class="wpcf7-form-control-wrap">
              <input type="text" name="full_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" placeholder="Full Name" />
            </span><br/>
            <label for="name" class="form__label"></label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form__grup wow fadeInLeft">
            <span class="wpcf7-form-control-wrap">
              <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" placeholder="Email Address" />
            </span><br/>
            <label for="email" class="form__label"></label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form__grup wow fadeInRight">
            <span class="wpcf7-form-control-wrap">
              <input type="text" name="phone_number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" placeholder="Phone Number" />
            </span><br/>
            <label for="telefon" class="form__label"></label>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form__grup wow fadeInUp">
            <span class="wpcf7-form-control-wrap">
              <textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form__input" placeholder="Your Message">
              </textarea>
            </span><br/>
            <label for="message" class="form__label"></label>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form__grup wow fadeInUp">
            <input type="submit" value="Send Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-button" />
          </div>
        </div>

      </div>
    </div>

    <div class="wpcf7-response-output" aria-hidden="true"></div>

  </form>

  <style>

    .tablo {
      background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
    }
    .wpcf7-form {
        /*background-color: black !important;*/
        background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
    }

    .iletisim-form-alani {
      background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
    }
  </style>

  <!--İletişim Form Alanı-->
  <section class="iletisim-form-alani">

    <div role="form" class="wpcf7" id="wpcf7-f1129-o1" lang="en-US" dir="ltr">
      <div class="screen-reader-response">
        <p role="status" aria-live="polite" aria-atomic="true"></p>
        <ul></ul>
      </div>

      <!--<form method="post" class="wpcf7-form init" novalidate="novalidate"> {% csrf_token %}
        <div style="display: none;">
          <input type="hidden" name="_wpcf7" value="1129" />
          <input type="hidden" name="_wpcf7_version" value="5.6" />
          <input type="hidden" name="_wpcf7_locale" value="en_US" />
          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1129-o1" />
          <input type="hidden" name="_wpcf7_container_post" value="0" />
          <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
        </div>
        
        <div class="container">
          <div class="row">

            <div class="col-sm-4">
              <div class="form__grup wow fadeInLeft">
                <span class="wpcf7-form-control-wrap">
                  <input type="text" name="full_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" placeholder="Full Name" />
                </span><br/>
                <label for="name" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form__grup wow fadeInLeft">
                <span class="wpcf7-form-control-wrap">
                  <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" placeholder="Email Address" />
                </span><br/>
                <label for="email" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form__grup wow fadeInRight">
                <span class="wpcf7-form-control-wrap">
                  <input type="text" name="text-661" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" placeholder="Phone Number" />
                </span><br/>
                <label for="telefon" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form__grup wow fadeInUp">
                <span class="wpcf7-form-control-wrap">
                  <textarea name="textarea-8" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form__input" placeholder="Your Message">
                  </textarea>
                </span><br/>
                <label for="message" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form__grup wow fadeInUp">
                <input type="submit" value="Send Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-button" />
              </div>
            </div>

          </div>
        </div>

        <div class="wpcf7-response-output" aria-hidden="true"></div>

      </form>-->

       

      <!--<form action="/wordpress/metan/contact/#wpcf7-f1129-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init"> {% csrf_token %}
        <div style="display: none;">
          <input type="hidden" name="_wpcf7" value="1129" />
          <input type="hidden" name="_wpcf7_version" value="5.6" />
          <input type="hidden" name="_wpcf7_locale" value="en_US" />
          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1129-o1" />
          <input type="hidden" name="_wpcf7_container_post" value="0" />
          <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="form__grup wow fadeInLeft" data-wow-delay="0.5s">
                <span class="wpcf7-form-control-wrap" data-name="text-667">
                  <input type="text" name="text-667" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Full Name" />
                </span><br/>
                <label for="name" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form__grup wow fadeInLeft" data-wow-delay="0.6s">
                <span class="wpcf7-form-control-wrap" data-name="email-217">
                  <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Email Address" />
                </span><br/>
                <label for="email" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form__grup wow fadeInRight" data-wow-delay="0.7s">
                <span class="wpcf7-form-control-wrap" data-name="text-661">
                  <input type="text" name="text-661" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Phone Number" />
                </span><br/>
                <label for="telefon" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form__grup wow fadeInUp" data-wow-delay="0.8s">
                <span class="wpcf7-form-control-wrap" data-name="textarea-8">
                  <textarea name="textarea-8" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form__input" aria-invalid="false" placeholder="Your Message">
                  </textarea>
                </span><br/>
                <label for="message" class="form__label"></label>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form__grup wow fadeInUp" data-wow-delay="0.9s">
                <input type="submit" value="Send Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-button" />
              </div>
            </div>
          </div>
        </div>
        <div class="wpcf7-response-output" aria-hidden="true"></div>
      </form>-->
    </div>

  </section>
</main>

    

{% endblock %}