{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'pages/css/roadmap.css' %}">
</head>
<body>
    <div class="container-roadmap">
        <div class="roadmap-wrapper">
          <div class="row-roadmap">
            <h2 class="sec-title"> Our Roadmap </h2>
          </div>
          <div class="row-roadmap">
            <div class="roadmap">
              <div class="year-count">
                <h2>2021</h2>
              </div>
              <div class="roadmap-content">
                <div class="year-title q1">
                 <h3>Q1</h3>
                  <ul> 
                    <li>MVP Implementation</li>
                  </ul>
                </div>
                <div class="year-title q2">
                 <h3>Q2</h3>
                  <ul> 
                    <li>Start developing Gitopia blockchain built with Cosmos SDK</li>
                    <li>Launch first version of Gitopia Webapp</li>
                    <li>Release the git remote helper for Gitopia</li>
                  </ul>
                </div>
                <div class="year-title q3">
                 <h3>Q3</h3>
                  <ul> 
                    <li>Release the GitHub Mirror Action for easy migration from GitHub</li>
                    <li>Gitopia Web Wallet release</li>
                    <li>Gitopia Explorer release</li>
                    <li>Exchange listings of LORE token</li>
                  </ul>
                </div>
                <div class="year-title q4">
                 <h3>Q4</h3>
                  <ul> 
                    <li>Ecosystem Partnerships</li>
                    <li>Release Organization/ Repository governance</li>
                    <li>Release IBC Interface</li>
                    <li>Launch Gitopia Desktop app</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row-roadmap">
            <div class="roadmap">
              <div class="year-count Y2022">
                <h2>2022</h2>
              </div>
              <div class="roadmap-content">
                <div class="year-title q1-2022">
                 <h3>Q1</h3>
                  <ul> 
                    <li>Support CI/CD Integrations</li>
                    <li>Release Static Code Analysis</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>